<div ng-app="app" class="" data-ng-controller="MyTodoController">
  <h1>My TODOs  {{hello}}</h1>
  <div>
    <input type="text" ng-model="product.name"><br>
    <button ng-click="save()" value="Push">Push</button>
    <br>
    <pre>{{product | json}}</pre>
    <hr>
    <pre ng-repeat="prod in products">{{prod}}</pre>
  </div>
</div>
